body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#289496, #E6E3C0);

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.progressWork {
  background-color: rgb(209, 192, 13) !important;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progressPause {
  background-color: rgb(73, 208, 75) !important;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  background-color: none;
  background-color: rgba(255, 255, 255, 0);
}

.textButton:hover {
  color: white !important;
}